<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      const debtData =  [["Date","Debt Score", "Standard"], <% _.forEach(dataDebt, function(debt) { %>[<%- debt.date %>, <%- debt.debtScore %>, <%- standard %>],<% }); %>];

      function drawChart() {
          var data = google.visualization.arrayToDataTable(debtData);
          data.addColumn({type: 'string', role: 'annotation'});
          var options = {
              title: 'Technical debt evolution',
              legend: { position: 'bottom' },
              vAxis: {minValue: 0},
              pointSize: 10,
          };

          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

          chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 1400px; height: 600px"></div>
  </body>
</html>
