<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawChart);

      const debtData =  [["Type","Debt Score"], <% dataDebt.forEach(function(debt) { %>["<%- debt.type %>", <%- debt.debtScore %>],<% }); %>];

      function drawChart() {
          var data = google.visualization.arrayToDataTable(debtData);
          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
          chart.draw(data);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 1400px; height: 600px"></div>
  </body>
</html>
