<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawChart);

      const debtData =  [
        ["Type","Critical Debt", "Dangerous Debt", "Contagious Debt", "Idle Debt"],
        <% dataDebt.forEach(function(debt) { %>["<%- debt.type %>",
          <%- debt.debtScoreByPrioritization.isCritical %>,
          <%- debt.debtScoreByPrioritization.isDangerous %>,
          <%- debt.debtScoreByPrioritization.isContagious %>,
          <%- debt.debtScoreByPrioritization.isIdle %>],
      <% }); %>];


      function drawChart() {
        var data = google.visualization.arrayToDataTable(debtData);
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, {
          isStacked: true,
          series: {
            0: { color: '#a83232' }, // red
            1: { color: '#de7f50' }, // orange
            2: { color: '#deb850' }, // yellow
            3: { color: '#a5a899' }, // grey
          },
        });
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 1400px; height: 600px"></div>
  </body>
</html>
